@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #FDCF00;
    --secondary-color: #ffa800;
    --dark-color: #111;
    --container-size: 1024px;
    --card-title-background: #232323;
    --light-background: #242424;
    --orange: #FFA800;
    --green: #96CB00;
    --yellow: #ECDA00;
    --purple: #7548C2;
    --pink: #D095AB;
    --pokemon-color: #FFA800;
    --card-size: calc(var(--container-size) / 4 - 32px);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-color);
    color: white;
    padding-top: 50px;
}

.container {
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 0 24px;
}

.menu__container {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 35px;
    margin-bottom: 35px;
    align-items: center;
}

.menu__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
}

.menu {
    width: 100%;
    box-sizing: border-box;
}

.menu__item {
    display: inline-block;
    margin: 0 12px;
    padding: 16px 24px;
}

.menu__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu__item--active {
    background: var(--primary-color);
    border-radius: 100px;
}

.menu__item--active .menu__link {
    color: var(--dark-color);
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

.footer {
    position: relative;
    margin-top: 200px;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.footer__image {
    width: 350px;
    position: absolute;
    top: -100px;
}

.footer__links {
    display: inline-block;
    color: white;
    margin: 0 24px;
    text-decoration: none;
}

.footer__link {
    color: white;
    margin: 0 24px;
    text-decoration: none;
}

.footer__link:hover {
    color: var(--primary-color);
}

.footer__button {
    margin: 36px 0;
}

.button__link {
    padding: 16px 24px;
    background-color: var(--primary-color);
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-color);
    transition: transform 0.5s ease-in-out;
}

.button__link:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.menu__toggle,
.icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .icon {
        display: inline-block;
    }

    .menu__container {
        flex-direction: column;
        justify-content: space-between;
    }

    .menu__logo {
        width: 90%;
    }

    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 24px
    }

    .menu,
    .menu__link {
        width: 100%;
    }

    .menu__toggle:checked~.menu {
        display: flex;
    }

    .footer__image {
        width: 242px;
        top: -70px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        margin: 8px 24px;
    }
}