@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');

h1, h2 {
  text-align: center;
}

.search__container {
  margin: 40px 0;
  display: flex;
}

.search__field {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 16px;
  color: white;
  width: 100%;
}

.search__field::placeholder {
  color: rgba(255, 255, 255, .8);
}

.card__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: calc(var(--container-size) / 4 - 32px);
  height: calc(calc(var(--container-size) / 4 - 32px) + 70px);
  border-radius: 14px;
  position: relative;
}

.card:visited {
  color: white;
}

.card__image {
  width: 100%;
  object-fit: contain;
  padding: 8px;
  box-sizing: border-box;
}

.card__title { 
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 24px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 8px 8px;
  background-color: var(--card-title-background);
  color: white;
}

.card#charizard {
  background-color: var(--charizard-color);
}

@media(max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  .card {
    display: flex;
    width: 40vw;
    height: 30vh;
  }

  .card__image {
    display: flex;
    width: 100%;
    height: 70%;
  }
}

@media(max-width: 440px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
  }

  .card {
    display: flex;
    width: 100%;
    height: 40vh;
  }

  .card__image {
    display: flex;
    width: 100%;
    height: 80%;
  }
}